@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 3px;
  background: #402C58;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2f1e43;
}

body {
  overflow-x: hidden; /* This line should be outside the scrollbar block */
}

.scroll {
  padding: 0 0 200vh;
}
