@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 3px;
  background: #402C58;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2f1e43;
}

body {
  overflow-x: hidden; /* This line should be outside the scrollbar block */
}

@layer utilities {
  .toggle-btn {
      @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
  }
}