@font-face {
          font-family: "Ethnocentric";
          font-style: normal;
          font-weight: normal;
          src: url("./ethnocentric\ rg.woff") format("woff");
        }
        
        body {
          font-family: "Ethnocentric", sans-serif;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          user-select:none;
        }
        
        .registration {
          z-index: 1;
        }
        
        .bgimg {
          position: fixed;
          z-index: -1;
          top: 0px;
          height: 100%;
          width: 100%;
        }
        
        .facedesign {
          height: 200px;
        }
        
        .form-name-part {
          width: 45%;
        }
        
        .form-college-name {
          width: 45%;
        }
        
        .contact-email {
          width: 45%;
        }
        
        .contact-state {
          width: 45%;
        }
        
        .contact-phone {
          width: 45%;
        }
        
        .contact-sports {
          width: 45%;
        }
        
        .face {
          width: 100%;
          text-align: end;
          position:absolute;
          bottom: 10px;
        }
        
        .symbol {
          position: absolute;
          top: 40px;
          left: 30px;
          z-index: 2;
          height: 50px;
        }
        
        .gender-category {
          margin-top: -20px;
        }
        
        .heading {
          font-family: "Ethnocentric", sans-serif;
          color: white;
          text-align: center;
          margin-top: 40px;
          font-size: 30px;
        }
        
        .common-design {
          font-family: "Ethnocentric", sans-serif;
          color: white;
          font-size: 20px;
          font-weight: 600;
        }
        
        .register-text {
          font-family: "Ethnocentric", sans-serif;
          color: white;
          font-weight: bold;
          font-size: 16px;
        }
        
        .register-button button {
          background-color: #f14b64;
          border-radius: 20px;
          width: 30%;
          transition: background-color 0.3s;
          color: white;
        }
        
        .register-button button:hover {
          background-color: black;
          cursor: pointer;
          color: white;
        }
        
        
        
        
        
        .maletext {
          font-family: "Ethnocentric", sans-serif;
          color: white;
          margin-left: 2px;
        }
        
        .femaletext {
          font-family: "Ethnocentric", sans-serif;
          color: white;
          margin-left: 2px;
        }
        
        #collegeinput {
          width: 100%;
        }
        
        .common-input {
          background-color: transparent;
          border: 3px solid white;
          border-radius: 5px;
          width: 100%;
          padding: 5px;
          outline: none;
        }
        
        .form-part {
          margin: auto;
          width: 75%;
        }
        .form-name {
          display: flex;
          justify-content: space-between;
        }
        
        .form-contact {
          display: flex;
          justify-content: space-between;
        }
        
        .form-phone {
          display: flex;
          justify-content: space-between;
        }
        
        .form-register {
          display: flex;
          justify-content: space-between;
        }
        
        .upload-part {
          width: 45%;
        }
        
        .register-button {
           text-align: center;
        }
        
        .subpart {
          display: flex;
          flex-direction: column;
        }
        
        .collegetext {
          margin-top: 16px;
          margin-bottom: 22px;
        }
        
        .gender-category {
          display: flex;
          width: 25%;
          justify-content: space-between;
        }
        
        .male-part {
          display: flex;
          margin-right: 10px;
        }
        
        .female-part {
          display: flex;
        }
        
        @media screen and (max-width: 1127px) {
          .form-part {
            width: 80%;
            margin: auto;
          }
        
        
          .form-name-part {
            width: 100%;
          }
        
          .form-college-name {
            width: 100%;
          }
        
          .contact-email {
            width: 100%;
          }
        
          .contact-state {
            width: 100%;
          }
        
          .contact-phone {
            width: 100%;
          }
        
          .contact-sports {
            width: 100%;
          }
        
          .form-name {
            display: block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
          .form-contact {
            display: block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        
          .upload-part {
            width: 100%;
          }
        
          .common-input {
            width: 100%;
          }
          #collegeinput {
            width: 100%;
          }
        
          .form-phone {
            display: block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        
          .form-register {
            display: block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        
          .register-button button {
            width: 100%;
          }
          .terms button {
            width: 100%;
          }
        
          .heading {
            margin: auto;
            width: 50%;
            font-size: 20px;
            text-align: center;
          }
        
          .register-button button{
            margin-bottom: 100px;
          }
        
        }
        
        @media screen and (max-width: 420px) {
          .face {
            display: none;
          }
        
          .symbol {
            display: none;
          }
          .heading{
            margin-left: 0px;
          }
        
         
        }
        
        @media screen and (max-width: 598px) {
          .heading {
            font-size: 15px;
            margin-top: 40px;
          }
        
          .select-college{
            font-size: 12px;
          }
        
          .select-sport{
            font-size: 12px;
          }
        
          .select-state{
            font-size: 12px;
          }
        }
        
        input {
          font-family: "Ethnocentric", sans-serif;
          color: white;
          height: 23px;
        }
        
        @media screen and (min-width:1127px) {
        
          .college-content{
            max-width:33%;
          }
        
          .sport-content{
            max-width:33%;
          }
        
          .state-content{
            max-width:33%;
          }
        }
        
        .despoloader1 {
          height: 100vh;
          width: 100vw;
        }
        
        .select-college{
          background-color: transparent;
          border: 3px solid white;
          border-radius: 5px;
          outline: none;
          height:36px;
          color:white;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .select-state{
          background-color: transparent;
          border: 3px solid white;
          border-radius: 5px;
          outline: none;
          height:36px;
          color:white;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .select-sport{
          background-color: transparent;
          border: 3px solid white;
          border-radius: 5px;
          outline: none;
          height:36px;
          color:white;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .search{
        
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .college-input{
          width:85%;
          outline: none;
          margin-left: 10px;
          border: 1px solid black;
          border-radius: 8px; 
          color: black;
          text-indent: 25px;
        }
        
        .sport-input{
          width:85%;
          outline: none;
          margin-left: 10px;
          border: 1px solid black;
          border-radius: 8px; 
          color: black;
          text-indent: 25px;
        }
        
        
        .state-input{
          width:85%;
          outline: none;
          margin-left: 10px;
          border: 1px solid black;
          border-radius: 8px; 
          color: black;
          text-indent: 25px;
        }
        
        .college-content{
          position: absolute;
          width:80%;
         display:none;
         margin-top:7px;
         padding:7px;
         background-color: white;
         border-radius:10px;
         transition: opacity 0.5s ease-in-out;
         height: 300px;
         overflow-y: scroll;
        }
        
        .sport-content{
          position: absolute;
          width:80%;
          display:none;
          margin-top:7px;
          padding:7px;
          background-color: white;
          border-radius:10px;
          transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
          height: 300px;
          overflow-y: scroll;
        }
        
        .state-content {
          position: absolute;
          width:80%;
         display:none;
         margin-top:7px;
         padding:7px;
         background-color: white;
         border-radius:10px;
         transition: opacity 0.5s ease-in-out;
         height: 300px;
         overflow-y: scroll;
        }
        
        #college-options li{
          margin:15px;
          height:40px;
        }
        
        .options li{
          height:35px;
          margin:10px;
          padding:0 13px;
          border-radius:5px;
          display:flex;
          cursor:pointer;
          align-items:center;
          font-size: 12px;
        }
        
        .options li:hover{
          background-color:#f2f2f2
        }
        
        
        
        .college-content::-webkit-scrollbar{
          width: 7px;
        }
        .college-content::-webkit-scrollbar-track{
          background: #f1f1f1;
          border-radius: 25px;
        }
        .college-content::-webkit-scrollbar-thumb{
          background: #ccc;
          border-radius: 25px;
        }
        .college-content::-webkit-scrollbar-thumb:hover{
          background: #b3b3b3;
        }
        
        .sport-content::-webkit-scrollbar{
          width: 7px;
        }
        .sport-content::-webkit-scrollbar-track{
          background: #f1f1f1;
          border-radius: 25px;
        }
        .sport-content::-webkit-scrollbar-thumb{
          background: #ccc;
          border-radius: 25px;
        }
        .sport-content::-webkit-scrollbar-thumb:hover{
          background: #b3b3b3;
        }
        
        
        .state-content::-webkit-scrollbar{
          width: 7px;
        }
        .state-content::-webkit-scrollbar-track{
          background: #f1f1f1;
          border-radius: 25px;
        }
        .state-content::-webkit-scrollbar-thumb{
          background: #ccc;
          border-radius: 25px;
        }
        .state-content::-webkit-scrollbar-thumb:hover{
          background: #b3b3b3;
        }
        
        
        
        